@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto-Regular.woff2") format("woff2"),
    url("./Fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto-Bold.woff2") format("woff2"),
    url("./Fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto-Light.woff2") format("woff2"),
    url("./Fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.color-java {
  color: #16dfb5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.Dropdown-root.dropdown__currency {
  border-left: 1px solid #d9d9d9;
  position: absolute;
  width: 70px;
  top: 13px;
  right: 27px;
}

.Dropdown-root.dropdown__currency > .Dropdown-control {
  overflow: unset;
  padding: 0;
  border: none;
}

.Dropdown-root.dropdown__currency
  > .Dropdown-control
  > .Dropdown-arrow-wrapper
  > .Dropdown-arrow {
  top: 10px;
  right: -10px;
}

.Dropdown-root.dropdown__payment > .Dropdown-control {
  border: 1px solid #d9d9d9;
  border-radius: 20px;
}

.Dropdown-root.dropdown__payment
  > .Dropdown-control
  > .Dropdown-arrow-wrapper
  > .Dropdown-arrow {
  top: 22px;
  right: 14px;
}
